.body {
    width: 100vw;
    height: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 100px;
    padding: 100px;
}

.columnBody{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box {
    display: flex;
    background-color: rgb(113, 189, 162);
    width: 1500px;
    height: 350px;
    justify-content: space-around;
    align-items: center;
    color: white;
    border-radius: 10px;
    padding-left: 100px;
}

.img {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: rgb(255, 255, 255);
    color: white;
    display: flex;
    border-color: white;
    border-width: 3px;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.TextColumn {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 5px;
    margin-right: 150px;
}

.text {
    color: #000;
    width: 900px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 50px;
    padding-right: 50px;
}

.flexx {
    display: flex;
    height: 50px;
    align-items: center;
    margin-right: 615px;
    padding-bottom: 50px;
}

.numN {
    color: black;
}

.number {
    color: rgb(113, 189, 162);
    font-size: 20px;
    margin-left: 20px;
}