.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(162, 195, 255);
}


.header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: 200px;
    padding-right: 100px;
    border-bottom-width: 1px;
    border-color: rgb(85, 208, 167);
}

.logo {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex {
    display: flex;
}

.NameFlex {
    display: flex;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey;
}

.PageName {
    width: 200px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: solid;
}

.PageName:hover {
    text-decoration: underline rgb(85, 208, 167);
}

.PageNameT {
    width: 200px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(85, 208, 167);
    text-decoration: underline rgb(85, 208, 167);
}

.bodyImg{
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 1;
}

.center {
    width: 100vw;
    /* height: 100%; */
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    position: fixed;
    top: 200px;
    left: 0px;
    height: 100vh;
    width: 33%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    z-index: 1;
}

.searchBox {
    display: flex;
    border-color: rgb(106, 225, 185);
    border-width: 2px;
    border-radius: 100px;
    width: 424px;
    height: 64px;
}

.searchInput {
    width: 350px;
    height: 60px;
    position: sticky;
    border-radius: 30px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 2;
    color: grey;
}

.searchButton {
    width: 200px;
    height: 60px;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    background-color: rgb(106, 225, 185);
    z-index: 1;
    position: absolute;
    margin-left: 220px;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 20px;
}

.searchImg {
    width: 40px;
    height: 40px;
}

.searchName {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10px;
    border-radius: 10px;
    background-color: rgb(207, 255, 239);
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(117, 117, 117);
    margin-right: 75px;
}

.mid {
    width: 34%;
    height: 100vh;
    padding-bottom: 100px;
    padding-top: 150px;
    overflow: auto;
    z-index: 1;
}

.main {
    width: 750px;
    height: auto;
    background-color: rgb(207, 255, 239);
    padding-top: 10px;
    padding: 20px;
    border-radius: 15px;
    z-index: 2;
    margin-top: 30px;
}

.flexC {
    display: flex;
    align-items: center;
}

.size {
    width: 55px;
    height: 55px;
    border-radius: 100px;
    margin-right: 20px;
}

.Name{
    color: black;
}

.time {
    color: grey;
}

.text {
    padding: 5px;
    font-size: 18px;
}

.select {
    width: 120px;
    height: 35px;
    background-color: rgb(84, 219, 174);
    padding-right: 15px;
    padding-left: 15px;
    border-color: rgb(255, 255, 255);
    border-radius: 7px;
    border-width: 1px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.texts {
    width: auto;
    height: auto;
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-top: 15px;
    padding: 10px;
}

.flexB {
    width: 400px;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.button {
    width: auto;
    height: 35px;
    background-color: rgb(84, 219, 174);
    padding-right: 15px;
    padding-left: 15px;
    border-color: rgb(255, 255, 255);
    border-radius: 7px;
    border-width: 1px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.iconHealt {
    width: 20px;
    height: 20px;
}

.iconComment {
    width: 20px;
    height: 20px;
}

.iconShare {
    width: 30px;
    height: 30px;
}

.postButton{
    width: 200px;
    height: 50px;
    background-color: rgb(101, 201, 168);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    color: white;
    transition: background-color 0.5s, font-size 0.5s;
    position: absolute;
    right: 300px;
    top:300px;
    z-index: 1;
}

.postButton:hover {
    background-color: rgb(102, 199, 166);
    font-size: 17px;
}
