.body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    background-color: rgb(162, 195, 255);
}
 
 
.header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
    background-color: white;
    position: fixed;
    top: 0px;
    left: 0px;
    padding-left: 200px;
    padding-right: 100px;
    border-bottom-width: 1px;
    border-color: rgb(85, 208, 167);
}
 
.logo {
    font-size: 35px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.flex {
    display: flex;
}
 
.NameFlex {
    display: flex;
    width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: grey;
}
 
.PageName {
    width: 200px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: solid;
}
 
.PageName:hover {
    text-decoration: underline rgb(85, 208, 167);
}
.PageNameT {
    width: 200px;
    height: 98px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(85, 208, 167);
    text-decoration: underline rgb(85, 208, 167);
}
 
 
 
.button:hover {
    background-color: rgb(102, 199, 166);
    font-size: 18px;
}
 
.left {
    height: 850px;
    width: 1050px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 
.image {
    margin-bottom: 200px;
    z-index: 10;
    width: 750px;
    height: 550px;
}
 
.O {
    width: 600px;
    height: 600px;
    background-color: rgb(73, 189, 150);
    border-radius: 1000px;
    z-index: 9;
    position: absolute;
    margin-bottom: 100px;
    margin-right: 100px;
}
 
.doligon {
    position: absolute;
    z-index: 11;
    bottom: 300px;
    left: 100px;
}
 
.tseg {
    position: absolute;
    z-index: 11;
    bottom: 200px;
    right: 100px;
}
 
.ugalz {
    position: absolute;
    z-index: 11;
    top: 200px;
    right: 1000px;
}
 
.tsagirag {
    position: absolute;
    z-index: 11;
    bottom: 400px;
    right: 1000px;
}
 
.tseg {
    position: absolute;
    z-index: 11;
    bottom: 200px;
    right: 300px;
}
 
.tseg1 {
    position: absolute;
    z-index: 11;
    bottom: 350px;
    right: 1300px;
}
 
/* @media screen and (max-width: 500px) {
    .header{
        width: 500px;
    }
} */
.twoCenter {
    width: 100%;
    height: 4200px;
    background-color: white;
    box-shadow: 2px 2px 5px 5px rgb(82, 105, 115);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 100px;
}
 
.widthflex {
    width: 1600px;
    height: 500px;
    display: flex;
    justify-content: center;
    gap: 100px;
}
 
.textCenter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 600px;
    height: 500px;
    margin-left: 100px;
}
 
.word {
    font-size: 60px;
    color: black;
}
 
.texts {
    font-size: 16px;
    width: 870px;
    text-align: start;
    margin-top: 30px;
    color: #000;
}
 
.img {
    width: 600px;
    height: 500px;
}
 
.white {
    background-color: rgb(255, 255, 255);
    position: absolute;
    top: 3200px;
    left: 450px;
    z-index: 12;
    width: 120px;
    height: 50px;
}